<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=iFlALBNN"></script>
  </body>
</html>
